{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/normalizee.css' %}">
    <link rel="stylesheet" href="{% static 'styles/skeletonn.css' %}">
    <title>Almacenamiento de Autos</title>
</head>
<body>
    <div class="container">
        <header>
            <h1>Almacenamientos De Autos</h1>
            
            <div class="logo">
                <img src="" alt="Logo">
            </div>
        </header>

        <nav id="nav_bar">
            <a href="#">Home</a> |
            <a href="#">Nosotros</a> |
            <a href="#">Clientes</a> |
            <a href="#">Productos</a> |
            <a href="#">Trabajadores</a> |
            <a href="#">Proveedores</a> |
            <a href="#">Sucursales</a>
        </nav>

        <div class="product-section">
            <h2>Proveedores</h2>
            <a href="#" class="add-product">+ Agregar Proveedores</a>
            <div class="product-grid">
                <div class="product-card">
                    <div class="product-image">Imagen del producto</div>
                    <p>NOMBRE PROVEEDORES</p>
                    <p>Correo</p>
                    <p>Telefono</p>
                    <p>Pais</p>
                    <div class="product-actions">
                        <button>✏️</button>
                        <button>🗑️</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">Imagen del producto</div>
                    <p>NOMBRE PROVEEDORES</p>
                    <p>Correo</p>
                    <p>Telefono</p>
                    <p>Pais</p>
                    <div class="product-actions">
                        <button>✏️</button>
                        <button>🗑️</button>
                    </div>
                </div>
                <div class="product-card">
                    <div class="product-image">Imagen del producto</div>
                    <p>NOMBRE PROVEEDORES</p>
                    <p>Correo</p>
                    <p>Telefono</p>
                    <p>Pais</p>
                    <div class="product-actions">
                        <button>✏️</button>
                        <button>🗑️</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>