{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/normalizee.css' %}" />
    <link rel="stylesheet" href="{% static 'styles/skeletonn.css' %}" />

    <title>Nosotros</title> 
</head>
<body>
    <div class="container">
        <div>
            <img src="" alt="">
            <h1>Almacenamientos De Autos</h1>
        </div>
        <div id="nav_bar">
            <table>
              <tr>
                <td><h class="inline">home |</h></td>
                <td><h class="inline">Nosotros|</h></td>
                <td><h class="inline">Clientes|</h></td>
                <td><h class="inline">Productos|</h></td>
                <td><h class="inline">Trabajadores|</h></td>
                <td><h class="inline">Provedores|</h></td>
                <td><h class="inline">Sucursales|</h></td>
              </tr>
            </table>
          </div>
          <div class="row" id="DC_Empresa">

            <div class="eight columns">
              <h5>Nombre De La Empresa: </h5> <p class=""> Darwin P aucar</p>
              <h5>Ruc: </h5> <p class="">2521254</p>
              <h5>Direccion: </h5> <p class="">Quito av 24</p>
             </div>
             <div class="">
              <img src="" alt="xd" />
              <h5>Año De Fundacion:</h5> 
              <p class="">2024</p>
              <button onclick="">Editar informacion</button>
              <h5>Mision</h5>
              <p>Ofrecer servicios de almacenamiento de autos de alta calidad que garanticen la protección, el cuidado y la seguridad de los vehículos de nuestros clientes. Nos enfocamos en proporcionar un entorno seguro y eficiente, apoyado por un equipo profesional y tecnología avanzada, para asegurar la tranquilidad y satisfacción de nuestros usuarios en cada etapa de nuestro servicio.</p>
              <h5>Vicion</h5> 
              <p>Ser la empresa líder en el sector de almacenamiento y custodia de vehículos, reconocida por su compromiso con la innovación, la seguridad y la excelencia en el servicio al cliente. Queremos establecer nuevos estándares en la industria que aseguren la satisfacción y confianza de nuestros clientes, con soluciones modernas y sostenibles que respondan a sus necesidades cambiantes.</p>

            </div>
              
          </div>
            
             

    </div>
</body>
</html>