<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Inicio</title>
</head>

<body>
<h1>Almacenamiento de autos </h1>
<div>
<table>
    <tr id="Lista de opciones">
        <td><h class="inline">home |</h></td>  
        <td><h class="inline">Nosotros|</h></td>
        <td><h class="inline">Clientes|</h></td>
        <td><h class="inline">Productos|</h></td>
        <td><h class="inline">Trabajadores|</h></td>
        <td><h class="inline">Provedores|</h></td>
        <td><h class="inline">Sucursales|</h></td>
    </tr>
    
    
</table>
</div>
    

</body>
</html>